{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('app_page_index') }}"><i class="fa-solid fa-arrow-left"></i>  Back to list</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
