{% extends 'base.html.twig' %}

{% block title %}New Page{% endblock %}

{% block body %}
    <h1>Create new Page</h1>

    {{ include('page/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_page_index') }}"><i class="fa-solid fa-arrow-left"></i>  back to list</a>
{% endblock %}
